body{
   display: flex;
   background-color: hsl(233, 47%, 7%);
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: 'Inter', sans-serif;
   overflow: hidden;
}

main{
   display:flex;
   width:  100vh;
   height: 45vh;
   background-color: hsl(244, 38%, 16%);
   font-weight: 900;
   border-radius: 10px ;
   margin-left: 40px;
}

div{
   padding-left: 90px;
   padding-top: 60px;
}

h1{
   color: white;
}

.firsth{
   font-size: 2.5rem;
}

p{
   color: hsla(0, 0%, 100%, 0.6);
   font-weight: 400;
   margin-top: 55px;
   line-height: 2.2;
}

.about{
   display: flex; 
   justify-content: space-between;
}

.k{
   margin-left:-90px;
   margin-top: 30px;
}

.second , .third{
   margin-top: 30px;
}

.second{
   margin-left: 85px;
}

.third{
   margin-left: 85px ;
}

.pdiv{
   display: flex;
}

.firstp{
   margin-left: -480px;
   margin-top: 20px;
}

.secondchild{
   margin-left: 65px;
   margin-top: 20px;
}

.thirdchild{
   margin-left: 55px;
   margin-top: 20px;
}

img{
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   height: 595px;
   width: 690px;
   margin-top: -57px; 
   margin-left: -25px;
}

