body {
    display: flex;
    background-color: hsl(204, 43%, 93%);
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
}

main {
    display: grid;
    height: 500px;
    width: 800px;
    margin-top: 25vh;
    grid-template-areas: 
        ' header header header '          
        ' nav  nav aside '  ;  
}   

header{
    grid-area: header;
    padding-left: 40px;
    font-weight: 400;
    background-color: white;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1{
    margin-top: 40px;
    color:  hsl(179, 62%, 43%);
}

h2{
    color: hsl(71, 73%, 54%);
    margin-top: 40px;
}

p{
    color:  hsl(218, 22%, 67%);
}

nav{
    grid-area: nav;
    background-color: hsl(179, 62%, 43%);
    width: 400px;
    height: 300px;
    border-bottom-left-radius: 10px;
}

aside{
    grid-area: aside;
    background-color: hsl(184, 46%, 76%);
    width: 400px;
    border-bottom-right-radius: 10px;
    height: 300px;
}

.monthly{
    color: white;
    padding-left: 40px;
}

.price{
    display: flex;
    color: white;
    padding-left: 40px;
    font-size: 2em;
    margin-top: -1px;
}

.per{
    color: rgba(227, 227, 227, 0.807);
    font-size: 16px;
    font-weight: 300;
    margin-left: 50px;
}

h3{
    color: rgba(255, 255, 255, 0.864);
    margin-left: 40px ;
    margin-top: -20px;
    font-weight: 400;
}

button{
    color: white;
    background-color: hsl(71, 73%, 54%);
    width: 300px;
    height: 60px;
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 15px;
}

button:hover{
    transform: scale(1.1);
}

.why{
    color: rgb(253, 253, 253);
    margin-left: 40px;
}

.whyus{
    color: rgba(255, 255, 255, 0.874);
    padding-left: 40px;
    padding-top: 10px;
    line-height: 1.5;
}